{% extends "base.html" %}

{% block title %}{{ category.name }}{% endblock %}

{% block css %}
    <link href="{{ STATIC_URL }}css/seo_template.css" type="text/css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/catalog.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h1 id="catalogHeader">{{ category.name }}</h1>
    <div id="catalogContainer">
        {% if is_paginated %}
        <div id="pageNavContainer">
            <div id="pageNavigation" class="navStr floatRight gBColor">
{#                {% if page.has_previous %}#}
{#                    <div id="leftArrowId" class="arrow leftArrow"><img src="/img/catalog.list/big_left4.jpg" alt="" title=""></div>#}
{#                {% endif %}#}
                <div class="floatLeft">
                    <b style="color:#000;">{{ page_obj.number }}</b> из {{ paginator.num_pages }}<span style="color:#f0f0f0">&nbsp;&nbsp;|&nbsp;</span>
                </div>
                <div style="float:right">
                    {% for page_range in paginator.page_range %}
                        {% if page_obj.number == page_range %}
                            <div id="page{{ page_range }}" class="openedPage">
                                {{ page_range }}
                            </div>
                        {% else %}
                            <div id="page{{ page_range }}" class="navPage">
                                <a href="{% if page_range != 1 %}{% url product_list category.path page_range%}{% else %}{% url product_list category.path %}{% endif %}">{{ page_range }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="clear"></div>
    <div id="catalogAjax" class="catalogList">
    {% with list=object_list %}
        <table>
        <tbody>
        <tr>
            <td id="jew0" colspan="2" rowspan="2" class="product big popright">
                {% if list.0 %}
                    {% include 'customshop/big_product_in_list.html' with product=list.0 %}
                {% endif %}
            </td>
            <td id="jew1" class="product popRightSmall">
                {% if list.2 %}
                    {% include 'customshop/small_product_in_list.html' with product=list.2 %}
                {% endif %}
            </td>
            <td id="jew2" class="product popLeftSmall">
                {% if list.3 %}
                    {% include 'customshop/small_product_in_list.html' with product=list.3 %}
                {% endif %}
            </td>
            <td id="jew3" class="product popLeftSmall">
                {% if list.4 %}
                    {% include 'customshop/small_product_in_list.html' with product=list.4 %}
                {% endif %}
            </td>
            <td id="jew4" class="product popLeftSmall">
                {% if list.5 %}
                    {% include 'customshop/small_product_in_list.html' with product=list.5 %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td id="jew5" class="product popRightSmall">
                {% if list.6 %}
                    {% include 'customshop/small_product_in_list.html' with product=list.6 %}
                {% endif %}
            </td>
            <td id="jew6" class="product popLeftSmall">
                {% if list.7 %}
                    {% include 'customshop/small_product_in_list.html' with product=list.7 %}
                {% endif %}
            </td>
            <td id="jew7" colspan="2" rowspan="2" class="product big popleft">
                {% if list.1 %}
                    {% include 'customshop/big_product_in_list.html' with product=list.1 %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td id="jew8" class="product popRightSmall">
                {% if list.8 %}
                    {% include 'customshop/small_product_in_list.html' with product=list.8 %}
                {% endif %}
            </td>
            <td id="jew9" class="product popRightSmall">
                {% if list.9 %}
                    {% include 'customshop/small_product_in_list.html' with product=list.9 %}
                {% endif %}
            </td>
            <td id="jew10" class="product popRightSmall">
                {% if list.10 %}
                    {% include 'customshop/small_product_in_list.html' with product=list.10 %}
                {% endif %}
            </td>
            <td id="jew11" class="product popLeftSmall">
                {% if list.11 %}
                    {% include 'customshop/small_product_in_list.html' with product=list.11 %}
                {% endif %}
            </td>
        </tr>
        </tbody>
        </table>
    {% endwith %}
    </div>
    </div>
{% endblock %}
