Django==1.4
pillow
South
django-classy-tags==0.3.4.1
django-debug-toolbar
django-filebrowser==3.3.0
django-grappelli==2.3.4
django-polymorphic==0.2
django-shop
django-sitetree
django-tinymce==1.5.1a2
ipython==0.11
sorl-thumbnail
wsgiref
