{% extends "base.html" %}

{% block title %}Удалить товар из корзины?{% endblock %}

{% block content %}
    <h2>Удаление товара из корзины</h2>
    <div style="font-size: 16px;">
        <p>
            Удалить из корзины товар &laquo;<strong>{{ cartitem.product.get_name }}</strong>&raquo;?
        </p>
        <form method="post" action="{% url cart_delete_single cartitem.id %}">
            {% csrf_token %}

            <a href="{% url cart %}">Вернуться к корзине</a>
            <button type="submit">Удалить товар из корзины</button>
        </form>
    </div>
{% endblock %}
