{% extends "base.html" %}
{% load thumbnail %}

{% block css %}
    <link href="{{ STATIC_URL }}css/detail.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
    {% with product=object %}
        <div id="detail_catalog">
            <div class="product_info">
                <div id="photo">
                    <div class="detail_picture">
                        {% if product.logo %}
                            {% thumbnail product.logo.src "400x400" crop="center" as im %}
                                <img src="{{ im.url }}" alt="{{ product.logo.alt }}" />
                            {% endthumbnail %}
                        {% endif %}
                    </div>
                </div>
                <div id="right_column">
                    <div id="detail_text">
                        <div class="pageHeader">
                            <h1 class="catalogHeader gBColor">
                                {{ product.get_name }}
                            </h1>
                        </div>
                        <div class="pageText">
                            <div class="detail_text">
                                {{ product.description|safe }}
                            </div>
                        </div>
                        <div class="showValue">
                            {{ product.unit_price }} р.
                        </div>
                        <div>
                            <form method="post" action="{% url cart %}">{% csrf_token %}
                                <input type="hidden" name="add_item_id" value="{{ product.pk }}">
                                <input type="hidden" name="add_item_quantity" value="1">
                                <input type="image" src="{{ STATIC_URL }}images/to_buy.jpg">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    {% endwith %}
{% endblock %}