{% extends "base.html" %}
{% load thumbnail %}

{% block css %}
    <link href="{{ STATIC_URL }}css/detail.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
    {% with product=object %}
        <div id="detail_catalog">
            <div class="product_info">
                <div id="photo">
                    <div class="addDecorList" style="display: none; ">
                        <table>
                            <tbody>
                            <tr>
                                <td class="decor">
                                    <div id="id4" class="contain">
                                        <div class="photo floatLeft"><a href="/catalog/earring42805.html"><img src="/upload/iblock/8d9/PREVIEW_PICTURE_11947.jpg" alt="Серьги с 32 бриллиантами, 0.12 карат;2 топаза;Розовое золото 585 пробы." title="Серьги с 32 бриллиантами, 0.12 карат;2 топаза;Розовое золото 585 пробы."></a></div>
                                        <div class="clr"></div>
                                    </div>
                                </td>
                                <td class="decor">
                                    <div id="id5" class="contain">
                                        <div class="photo floatLeft"><a href="/catalog/ring60668.html"><img src="/upload/iblock/9ad/PREVIEW_PICTURE_3632.jpg" alt="Кольцо с 16 бриллиантами, 0.06 карат;1 топаз;Розовое золото 585 пробы." title="Кольцо с 16 бриллиантами, 0.06 карат;1 топаз;Розовое золото 585 пробы."></a></div>
                                        <div class="clr"></div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="detail_picture">
                        {% if product.logo %}
                            {% thumbnail product.logo.src "400x400" crop="center" as im %}
                                <img src="{{ im.url }}" alt="{{ product.logo.alt }}" />
                            {% endthumbnail %}
                        {% endif %}
                    </div>
                </div>
                <div id="right_column">
                    <div id="detail_text">
                        <div class="pageHeader">
                            <h1 class="catalogHeader gBColor">
                                {{ product.get_name }}
                            </h1>
                        </div>
                        <div class="pageText">
                            <div class="detail_text">
                                {{ product.description|safe }}
                            </div>
                            <div id="webShop">
                                <table id="pricesContainerTable">
                                    <tbody><tr>
                                        <td id="pricesContainerCell">
                                            <div id="one_price" class="priceValue">{{ product.unit_price }} р.</div>
                                        </td>
                                    </tr>
                                    </tbody></table>
                                <div id="linksToShops">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    {% endwith %}
{% endblock %}