#discountButton {
	display: none;
	position: absolute;
	margin-top: -7px;
	margin-left: 727px;
	cursor: pointer;
}

h1#catalogHeader {
	padding-top: 5px;
	font-weight: normal;
	font-size: 15px;
	color: #7b7b7b;
	padding-left: 3px;
	margin-top: 10px;
	margin-bottom: 15px;
}

#catalogIndexLink {
	float: right;
	width: 200px;
	height: 16px;
	background-color: #efedee;
	text-align: center;
	padding-top: 4px;
	display: none;


}
#catalogIndexLink  a{

	text-decoration: none;
}


#giperPizer {
	position: absolute;
	text-align: right;
	margin-left: 700px;
	margin-top: 3px;
	width: 170px;
	color: #767583;
}

#priceCommentBlockContaner {
	position: absolute;
	width: 200px;
	color: #767583;
	margin-left: 500px;
}

#catalogContainer {margin-bottom: 0;}

div.topContainerFilter {
	margin-bottom: 10px;
}
div.containerFilter {font-family: Tahoma;line-height: 9px;font-size: 11px;}
div.containerFilter .manuItem {font-size: 9px;font-weight: normal; width: 155px;height: 18px;margin-right: 14px;  padding: 0; float: left;  /* background-color: #f0f0f0; */}
div.containerFilter input {color: #767583; padding: 0;margin: 0; margin-top: -1px; font-weight: normal; font-family: verdana; width: 128px;height: 14px;border: 0; border: 1px solid #f0f0f0; font-size: 9px;padding-top: 3px;vertical-align: middle;padding-bottom: 2px;padding-left: 25px; }
@-moz-document url-prefix(){div.containerFilter input {padding-top: 2px;}}
div.containerFilter .manuItem  .field{padding: 0;margin: 0;height: 14px;padding-left: 5px;padding-top: 5px;background-image:url('/img/catalog.list/bg_select_w_dod.png'); background-position: 33px; background-repeat:no-repeat;color:#767583;cursor:pointer;vertical-align: middle; border: 1px solid #f0f0f0;}
div.containerFilter .manuItem  .field .fieldTitle, div.containerFilter .manuItem  .field .fieldSelect {}
div.containerFilter .manuItem  .field .fieldTitle {height: 10px; margin-left: 25px;}
div.containerFilter .manuItem  .field .fieldSelect {font-weight: normal;}
div.containerFilter .popupList {
	cursor: pointer;
	font-weight: normal;
	position: absolute;
	width: 145px;
	z-index: 300;
	border: 1px solid #efedee;
	border-top:0;
	background-color: #FFFFFF;
	display: none;
	font-size: 11px;
	padding: 5px;
	margin-left: -1px;
	margin-right: -1px;
}

div.containerFilter .popupList  div{padding: 7px 3px 3px 3px; cursor: pointer; }
div.containerFilter .popupList  div:hover {background-color: #747474;color: #ffffff;cursor: pointer;}

#pageNavContainer {
	margin-top: -13px;
	float: right;
	width: 270px;
}
#showAllJews {
	cursor: pointer;
	width: 102px;
	height: 20px;
	overflow: hidden;
	font-size: 11px;

}
#pageNavigation {

}
div.navStr { }
div.navStr div{cursor: default;float: left;padding-left: 5px;font-size: 12px;}
div.navStr div.navPage{cursor: pointer;}

div.catalogList {margin-top: 11px; display: block;}
div.catalogList table {border-collapse:collapse;padding:0;}
div.catalogList td {border: 10px solid #f6f6f6;width: 140px; height: 140px; color:#747474;padding: 0;}
div.catalogList .contain {background-color: #FFFFFF;position: relative;z-index: 50; width: 137px; height: 137px;}
	.pricesContainer {
		/*height: 30px;*/
		position: absolute;
		bottom:3px;
		right:5px;
		text-align:right;
		/*width:70px;*/
	}
	.withOldPriceContainer {
		/*margin-top: -7px;*/
	}


div.catalogList td .photo {
	float: left;
	overflow: hidden;
	width: 137px;
	height: 137px;
	background-color: #ffffff;
	position: absolute;
	z-index: 20;
}
div.catalogList td .photo img {
	width: 100px;
	margin-left: 20px;
	margin-top: 20px;
}
div.catalogList td .photo img:hover {
	width: 140px;
	margin: 0;
}
div.catalogList .withOldPrice .photo {

}

div.catalogList td .price {
	/*float: left;
	width: 67px;
	position: absolute;
	margin-top: 120px; margin-left: 90px;

	margin: 3px;*/
	color: #7b7b7b;
	z-index: 21;
}
	.pricesContainer .price {
		text-align:right;
		position:relative;


	}
div.catalogList td .price a {text-decoration: none; color: #7b7b7b;}
div.catalogList td  .showPrice {
	font-size: 20px;
}
div.catalogList td .show {
	position: absolute;
	display: none;
	background-color: #f0f0f0;
	border: 1px solid #cecece;
	z-index: 100;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}

div.catalogList .emptyBlock {height: 140px; width: 140px; background-color: #ffffff;}
div.catalogList td.empty {}
div.catalogList td.empty .show{display: none;}
div.catalogList td.empty .contain{display: none;}
div.catalogList td.popright .show {height: 307px;padding-left: 300px;margin-top: -10px;margin-left: -10px;}
div.catalogList td.popRightSmall .show {width: 157px; padding-left: 150px; height: 157px;  margin-top: -10px;margin-left: -10px;}
div.catalogList td.popLeftSmall .show {width: 308px; height: 157px; margin-left: -160px; margin-top: -10px;}
div.catalogList td.popleft .show {height: 307px;padding-right: 300px;margin-top: -10px;margin-left: -162px;}
div.catalogList td .decription {
	font-size: 10px;
	width: 140px;
	padding: 10px;
	color: black;

}
	.detailTextContainer {
		height: 60px;
		line-height: 12px;
		overflow: hidden;
	}
div.catalogList td.big {width: 290px;height: 206px;}
div.catalogList td.big .contain{width: 288px;height: 288px;}
div.catalogList td.big  .emptyBlock{height: 290px; width: 290px;}
div.catalogList td.big .photo {width: 289px;height: 289px;}
div.catalogList td.big .photo img {
	width: 200px;
	margin-left: 44px;
	margin-top: 44px;
}
div.catalogList td.big .photo img:hover {
	margin-top: -50px;
	margin-left: -50px;
	width: 400px;
}
div.catalogList td.big .price {
/*margin-top: 270px; margin-left: 240px;*/
}
div.catalogList td.big  img{width: 290px;}
div.catalogList td.big .photo1 img {width: auto;height: 206px;}
div.catalogList .seoText {padding: 5px;height: 199px;border: 4px solid #efedee;position: relative;z-index: 1000;}
/*div.arrow {position: absolute;cursor: pointer;}
div.leftArrow {margin-left: -13px;margin-top: 260px;display: none;}*/
#rightArrowId img {width: 7px; margin-top: 2px; cursor: pointer;}
#leftArrowId img {width: 7px; margin-top: 2px; cursor: pointer;}

#productIdTitle {
	position: absolute;
	margin-top: 5px;
	margin-left: 30px;
}

.bigImageClass {
	margin-top: -50px!important;
	margin-left: -50px!important;
	width: 400px!important;
}

#bigLeftArraw {
	position: absolute;
	width: 40px;
	margin-left: -50px;
	margin-top: 10px;
	height: 460px;
	cursor: pointer;
}
#bigLeftArraw  img{
	text-align: right;
	float: right;
	margin-top: 220px;
}
#bigRightArraw {
	position: absolute;
	width: 40px;
	margin-left: 913px;
	margin-top: -460px;
	height: 460px;
	cursor: pointer;
}
#bigRightArraw  img{
	margin-top: 230px;
}

#bigRightArraw:hover{
	background-color: #fcfcfc;
}

#bigLeftArraw:hover {
	background-color: #fcfcfc;
}

#catalogAjaxAllJews {
	margin-top: -1px;
}

#catalogAjaxAllJews table {
	margin-top: -10px;
}


#nextListingNav {
	margin-top: 7px;
	margin-bottom: 13px;
	border: 1px solid #f5f5f5;
	background-color: #fdfdfd;
	width: 875px;
	padding: 15px;
	text-align: center;
	cursor: pointer;
	display: none;
}
	#pushButton {
		font-size: 20px;
		color: #0000;
	}
	#pushButton:hover {
		color: #dbdbdb;
		text-decoration: underline;
	}

.seoDetailText {
	height: 60px;
	overflow: hidden;
	line-height: 12px;
}
.seoDetailText p {
    margin: 0px;
}
	.oldPrice {
		text-decoration: line-through;
		position: relative;
		z-index: 21;
		margin-left: 3px;
		color: #bdbdbd;
		margin-top: 1px;
	}


.priceValueConnent {

	width: 150px;
	font-size: 10px;

}
#seoListContainer .popleft .priceValueConnent {
	margin-left: 50px;
}


.oldPriceFirst {
	text-decoration: line-through;
	margin-top: -33px;
	position: relative;
	left: -4px;
	float: right;
	color: #bdbdbd;
}
.bigJewCell .oldPriceFirst {
	margin-left: 0px;
	margin-top: -38px;
}

.showPrice  .shopsLink {
	margin-top: 5px;
}
.addInBasketLink{
	background-image:url(http://www.love-sl.ru/img/basket_img.png);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:16px;
	}


img.basket {
    width: 14px !important;
}