{% extends "new/base.html" %}
{% load thumbnail %}

{% block css %}
    <link href="{{ STATIC_URL }}new/css/seo_template.css" type="text/css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}new/css/catalog.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block js %}
{#    <script type="text/javascript" src="{{ STATIC_URL }}new/js/catalog.js"></script>#}
{% endblock %}

{% block content %}
    <style>
        .seoDetailText {
            /*height: 160px;*/
        }
    </style>

    <script type="text/javascript">

        $(function() {

            $(document).on('mouseover', '.photo a img', function(e) {
                var el = $(this);
                var container = el.parents('.contain');
                var innerContainer = el.parents('.innerContainer');

                container.css('z-index', '62');
                innerContainer.find('.show').css('z-index', '60').show();
            });

            $(document).on('mouseleave', '.show', function() {
                var el = $(this);
                var container = el.parents('.innerContainer').find('.contain');

                container.css('z-index', '50');
                el.css('z-index', 'auto').hide();
            });

        });

    </script>

    <div id="catalogAjax" class="catalogList" style="display: block; ">
            {% with list=customproduct_list %}
            <table>
              <tbody>
                <tr>
                  <td id="jew0" colspan="2" rowspan="2" class="product big popright">
                    {% if list.0 %}
                    <div class="innerContainer" id="{{ list.0.id }}">
                      <div class="show" style="display: none;">
                        <div class="decription">
                          <div class="seoDetailText" style="display: block;">
                            {{ list.0.get_name }}
                            <br>
                            {{ list.0.description|safe }}
                          </div>

                          <div class="showPrice">
                            {{ list.0.unit_price }} р.
                          </div>

                          <div>
                              <form method="post" action="{% url cart %}">{% csrf_token %}
                                    <input type="hidden" name="add_item_id" value="{{ list.0.pk }}">
                                    <input type="hidden" name="add_item_quantity" value="1">
                                    <input type="image" src="{{ STATIC_URL }}images/to_buy.jpg">
                                </form>
                          </div>
                        </div>
                      </div>

                      <div class="contain" style="z-index: 50; border-color: rgb(239, 237, 238);">
                        <div class="photo">

                              {% if list.0.logo %}
                                <a href="{% url product_detail list.0.slug %}">
                                  {% thumbnail list.0.logo.src "400x400" crop="center" as im %}
                                  <img src="{{ im.url }}" alt="{{ list.0.logo.alt }}" style="display: inline;">
                                  {% endthumbnail %}
                                </a>
                              {% endif %}

                        </div>

                        <div class="pricesContainer withOldPriceContainer">
                          <div class="price">
                            <img src="{{ STATIC_URL }}new/img/korzina_.png" border="0" width="14" height="10" class="basket">
                            {{ list.0.unit_price }} р.
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </td>

                  <td id="jew1" class="product popRightSmall">
                    {% if list.11 %}
                    <div class="innerContainer" id="{{ list.11.slug }}">
                      <div class="show" style="display: none;">
                        <div class="decription">
                          <div class="seoDetailText" style="display: block;">
                            {{ list.11.get_name }}
                            <br>
                            {{ list.11.description|safe }}
                          </div>

                          <div class="showPrice">
                            {{ list.11.unit_price }} р.
                          </div>

                            <div>
                              <form method="post" action="{% url cart %}">{% csrf_token %}
                                    <input type="hidden" name="add_item_id" value="{{ list.11.pk }}">
                                    <input type="hidden" name="add_item_quantity" value="1">
                                    <input type="image" src="{{ STATIC_URL }}images/to_buy.jpg">
                                </form>
                          </div>
                        </div>
                      </div>

                      <div class="contain" style="z-index: 50; border-color: rgb(239, 237, 238);">
                        <div class="photo">

                              {% if list.11.logo %}
                                <a href="{% url product_detail list.11.slug %}">
                                  {% thumbnail list.11.logo.src "140x140" crop="center" as im %}
                                  <img src="{{ im.url }}" alt="{{ list.11.logo.alt }}" style="display: inline;">
                                  {% endthumbnail %}
                                </a>
                              {% endif %}

                        </div>

                        <div class="pricesContainer withOldPriceContainer">
                          <div class="price">
                            <img src="{{ STATIC_URL }}new/img/korzina_.png" border="0" width="14" height="10" class="basket">
                            {{ list.11.unit_price }} р.
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </td>

                  <td id="jew2" class="product popLeftSmall">
                    {% if list.2 %}
                    <div class="innerContainer" id="pr30589">
                      <div class="show" style="display: none;">
                        <div class="decription">
                          <div class="seoDetailText" style="display: block;">
                            {{ list.2.get_name }}
                            <br>
                            {{ list.2.description|safe }}
                          </div>

                          <div class="showPrice">
                            {{ list.2.unit_price }} р.
                          </div>

                            <div>
                              <form method="post" action="{% url cart %}">{% csrf_token %}
                                    <input type="hidden" name="add_item_id" value="{{ list.2.pk }}">
                                    <input type="hidden" name="add_item_quantity" value="1">
                                    <input type="image" src="{{ STATIC_URL }}images/to_buy.jpg">
                                </form>
                          </div>
                        </div>
                      </div>

                      <div class="contain" style=
                      "z-index: 50; border-color: rgb(239, 237, 238);">
                        <div class="photo">

                              {% if list.2.logo %}
                                <a href="{% url product_detail list.2.slug %}">
                                  {% thumbnail list.2.logo.src "140x140" crop="center" as im %}
                                  <img src="{{ im.url }}" alt="{{ list.2.logo.alt }}" style="display: inline;">
                                  {% endthumbnail %}
                                </a>
                              {% endif %}

                        </div>

                        <div class="pricesContainer withOldPriceContainer">
                          <div class="price">
                            <img src="{{ STATIC_URL }}new/img/korzina_.png" border="0" width="14" height="10" class="basket">
                            {{ list.2.unit_price }} р.
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </td>

                  <td id="jew3" class="product popLeftSmall">
                    {% if list.3 %}
                    <div class="innerContainer" id="pr60518">
                      <div class="show" style="display: none;">
                        <div class="decription">
                          <div class="seoDetailText" style="display: block;">
                            {{ list.3.get_name }}
                            <br>
                            {{ list.3.description|safe }}
                          </div>

                          <div class="showPrice">
                            {{ list.3.unit_price }} р.
                          </div>

                            <div>
                              <form method="post" action="{% url cart %}">{% csrf_token %}
                                    <input type="hidden" name="add_item_id" value="{{ list.3.pk }}">
                                    <input type="hidden" name="add_item_quantity" value="1">
                                    <input type="image" src="{{ STATIC_URL }}images/to_buy.jpg">
                                </form>
                          </div>
                        </div>
                      </div>

                      <div class="contain" style=
                      "z-index: 50; border-color: rgb(239, 237, 238);">
                        <div class="photo">

                              {% if list.3.logo %}
                                <a href="{% url product_detail list.3.slug %}">
                                  {% thumbnail list.3.logo.src "140x140" crop="center" as im %}
                                  <img src="{{ im.url }}" alt="{{ list.3.logo.alt }}" style="display: inline;">
                                  {% endthumbnail %}
                                </a>
                              {% endif %}

                        </div>

                        <div class="pricesContainer withOldPriceContainer">
                          <div class="price">
                            <img src="{{ STATIC_URL }}new/img/korzina_.png" border="0" width="14" height="10" class="basket">
                            {{ list.3.unit_price }} р.
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </td>

                  <td id="jew4" class="product popLeftSmall">
                    {% if list.4 %}
                    <div class="innerContainer" id="pr2268">
                      <div class="show" style="display: none;">
                        <div class="decription">
                          <div class="seoDetailText" style="display: block;">
                            {{ list.4.get_name }}
                            <br>
                            {{ list.4.description|safe }}
                          </div>

                          <div class="showPrice">
                            {{ list.4.unit_price }} р.
                          </div>

                            <div>
                              <form method="post" action="{% url cart %}">{% csrf_token %}
                                    <input type="hidden" name="add_item_id" value="{{ list.4.pk }}">
                                    <input type="hidden" name="add_item_quantity" value="1">
                                    <input type="image" src="{{ STATIC_URL }}images/to_buy.jpg">
                                </form>
                          </div>
                        </div>
                      </div>

                      <div class="contain" style="z-index: 50; border-color: rgb(239, 237, 238);">
                        <div class="photo">

                              {% if list.4.logo %}
                                <a href="{% url product_detail list.4.slug %}">
                                  {% thumbnail list.4.logo.src "140x140" crop="center" as im %}
                                  <img src="{{ im.url }}" alt="{{ list.4.logo.alt }}" style="display: inline;">
                                  {% endthumbnail %}
                                </a>
                              {% endif %}

                        </div>

                        <div class="pricesContainer withOldPriceContainer">
                          <div class="price">
                            <img src="{{ STATIC_URL }}new/img/korzina_.png" border="0" width="14" height="10" class="basket">
                            {{ list.4.unit_price }} р.
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  {% endif %}
                </tr>

                <tr>
                  <td id="jew5" class="product popRightSmall">
                    {% if list.5 %}
                    <div class="innerContainer" id="pr2266">
                      <div class="show" style="display: none;">
                        <div class="decription">
                          <div class="seoDetailText" style="display: block;">
                            {{ list.5.get_name }}
                            <br>
                            {{ list.5.description|safe }}
                          </div>

                          <div class="showPrice">
                            {{ list.5.unit_price }} р.
                          </div>

                            <div>
                              <form method="post" action="{% url cart %}">{% csrf_token %}
                                    <input type="hidden" name="add_item_id" value="{{ list.5.pk }}">
                                    <input type="hidden" name="add_item_quantity" value="1">
                                    <input type="image" src="{{ STATIC_URL }}images/to_buy.jpg">
                                </form>
                          </div>
                        </div>
                      </div>

                      <div class="contain">
                        <div class="photo">

                              {% if list.5.logo %}
                                <a href="{% url product_detail list.5.slug %}">
                                  {% thumbnail list.5.logo.src "140x140" crop="center" as im %}
                                  <img src="{{ im.url }}" alt="{{ list.5.logo.alt }}" style="display: inline;">
                                  {% endthumbnail %}
                                </a>
                              {% endif %}

                        </div>

                        <div class="pricesContainer withOldPriceContainer">
                          <div class="price">
                            <img src="{{ STATIC_URL }}new/img/korzina_.png" border="0" width="14" height="10" class="basket">
                            {{ list.5.unit_price }} р.
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </td>

                  <td id="jew6" class="product popLeftSmall">
                    {% if list.6 %}
                    <div class="innerContainer" id="pr60668">
                      <div class="show" style="display: none;">
                        <div class="decription">
                          <div class="seoDetailText" style="display: block;">
                            {{ list.6.get_name }}
                            <br>
                            {{ list.6.description|safe }}
                          </div>

                          <div class="showPrice">
                            {{ list.6.unit_price }} р.
                          </div>

                            <div>
                              <form method="post" action="{% url cart %}">{% csrf_token %}
                                    <input type="hidden" name="add_item_id" value="{{ list.6.pk }}">
                                    <input type="hidden" name="add_item_quantity" value="1">
                                    <input type="image" src="{{ STATIC_URL }}images/to_buy.jpg">
                                </form>
                          </div>
                        </div>
                      </div>

                      <div class="contain">
                        <div class="photo">

                              {% if list.6.logo %}
                                <a href="{% url product_detail list.6.slug %}">
                                  {% thumbnail list.6.logo.src "140x140" crop="center" as im %}
                                  <img src="{{ im.url }}" alt="{{ list.6.logo.alt }}" style="display: inline;">
                                  {% endthumbnail %}
                                </a>
                              {% endif %}

                        </div>

                        <div class="pricesContainer withOldPriceContainer">
                          <div class="price">
                            <img src="{{ STATIC_URL }}new/img/korzina_.png" border="0" width="14" height="10" class="basket">
                            {{ list.6.unit_price }} р.
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </td>

                  <td id="jew7" colspan="2" rowspan="2" class="product big popleft">
                    {% if list.1 %}
                    <div class="innerContainer" id="pr60455">
                      <div class="show" style="display: none;">
                        <div class="decription">
                          <div class="seoDetailText" style="display: block;">
                            {{ list.1.get_name }}
                            <br>
                            {{ list.1.description|safe }}
                          </div>

                          <div class="showPrice">
                            {{ list.1.unit_price }} р.
                          </div>

                            <div>
                              <form method="post" action="{% url cart %}">{% csrf_token %}
                                    <input type="hidden" name="add_item_id" value="{{ list.1.pk }}">
                                    <input type="hidden" name="add_item_quantity" value="1">
                                    <input type="image" src="{{ STATIC_URL }}images/to_buy.jpg">
                                </form>
                          </div>
                        </div>
                      </div>

                      <div class="contain">
                        <div class="photo">

                              {% if list.1.logo %}
                                <a href="{% url product_detail list.1.slug %}">
                                  {% thumbnail list.1.logo.src "400x400" crop="center" as im %}
                                  <img src="{{ im.url }}" alt="{{ list.7.logo.alt }}" style="display: inline;">
                                  {% endthumbnail %}
                                </a>
                              {% endif %}

                        </div>

                        <div class="pricesContainer withOldPriceContainer">
                          <div class="price">
                            <img src="{{ STATIC_URL }}new/img/korzina_.png" border="0" width="14" height="10" class="basket">
                            {{ list.1.unit_price }} р.
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </td>
                </tr>

                <tr>
                  <td id="jew8" class="product popRightSmall">
                    {% if list.7 %}
                    <div class="innerContainer" id="pr43863">
                      <div class="show" style="display: none;">
                        <div class="decription">
                          <div class="seoDetailText" style="display: block;">
                            {{ list.7.get_name }}
                            <br>
                            {{ list.7.description|safe }}
                          </div>

                          <div class="showPrice">
                            {{ list.7.unit_price }} р.
                          </div>

                            <div>
                              <form method="post" action="{% url cart %}">{% csrf_token %}
                                    <input type="hidden" name="add_item_id" value="{{ list.7.pk }}">
                                    <input type="hidden" name="add_item_quantity" value="1">
                                    <input type="image" src="{{ STATIC_URL }}images/to_buy.jpg">
                                </form>
                          </div>
                        </div>
                      </div>

                      <div class="contain">
                        <div class="photo">

                              {% if list.7.logo %}
                                <a href="{% url product_detail list.7.slug %}">
                                  {% thumbnail list.7.logo.src "140x140" crop="center" as im %}
                                  <img src="{{ im.url }}" alt="{{ list.7.logo.alt }}" style="display: inline;">
                                  {% endthumbnail %}
                                </a>
                              {% endif %}

                        </div>

                        <div class="pricesContainer withOldPriceContainer">
                          <div class="price">
                            <img src="{{ STATIC_URL }}new/img/korzina_.png" border="0" width="14" height="10" class="basket">
                            {{ list.7.unit_price }} р.
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </td>

                  <td id="jew9" class="product popRightSmall">
                    {% if list.8 %}
                    <div class="innerContainer" id="pr60282">
                      <div class="show" style="display: none;">
                        <div class="decription">
                          <div class="seoDetailText" style="display: block;">
                            {{ list.8.get_name }}
                            <br>
                            {{ list.8.description|safe }}
                          </div>

                          <div class="showPrice">
                            {{ list.8.unit_price }} р.
                          </div>

                            <div>
                              <form method="post" action="{% url cart %}">{% csrf_token %}
                                    <input type="hidden" name="add_item_id" value="{{ list.8.pk }}">
                                    <input type="hidden" name="add_item_quantity" value="1">
                                    <input type="image" src="{{ STATIC_URL }}images/to_buy.jpg">
                                </form>
                          </div>
                        </div>
                      </div>

                      <div class="contain">
                        <div class="photo">

                              {% if list.8.logo %}
                                <a href="{% url product_detail list.8.slug %}">
                                  {% thumbnail list.8.logo.src "140x140" crop="center" as im %}
                                  <img src="{{ im.url }}" alt="{{ list.8.logo.alt }}" style="display: inline;">
                                  {% endthumbnail %}
                                </a>
                              {% endif %}

                        </div>

                        <div class="pricesContainer withOldPriceContainer">
                          <div class="price">
                            <img src="{{ STATIC_URL }}new/img/korzina_.png" border="0" width="14" height="10" class="basket">
                            {{ list.8.unit_price }} р.
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </td>

                  <td id="jew10" class="product popRightSmall">
                    {% if list.9 %}
                    <div class="innerContainer" id="pr60632">
                      <div class="show" style="display: none;">
                        <div class="decription">
                          <div class="seoDetailText" style="display: block;">
                            {{ list.9.get_name }}
                            <br>
                            {{ list.9.description|safe }}
                          </div>

                          <div class="showPrice">
                            {{ list.9.unit_price }} р.
                          </div>

                            <div>
                              <form method="post" action="{% url cart %}">{% csrf_token %}
                                    <input type="hidden" name="add_item_id" value="{{ list.9.pk }}">
                                    <input type="hidden" name="add_item_quantity" value="1">
                                    <input type="image" src="{{ STATIC_URL }}images/to_buy.jpg">
                                </form>
                          </div>
                        </div>
                      </div>

                      <div class="contain">
                        <div class="photo">

                              {% if list.9.logo %}
                                <a href="{% url product_detail list.9.slug %}">
                                  {% thumbnail list.9.logo.src "140x140" crop="center" as im %}
                                  <img src="{{ im.url }}" alt="{{ list.9.logo.alt }}" style="display: inline;">
                                  {% endthumbnail %}
                                </a>
                              {% endif %}

                        </div>

                        <div class="pricesContainer withOldPriceContainer">
                          <div class="price">
                            <img src="{{ STATIC_URL }}new/img/korzina_.png" border="0" width="14" height="10" class="basket">
                            {{ list.9.unit_price }} р.
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </td>

                  <td id="jew11" class="product popLeftSmall">
                    {% if list.10 %}
                    <div class="innerContainer" id="pr7844">
                      <div class="show" style="display: none;">
                        <div class="decription">
                          <div class="seoDetailText" style="display: block;">
                            {{ list.10.get_name }}
                            <br>
                            {{ list.10.description|safe }}
                          </div>

                          <div class="showPrice">
                            {{ list.10.unit_price }} р.
                          </div>

                            <div>
                              <form method="post" action="{% url cart %}">{% csrf_token %}
                                    <input type="hidden" name="add_item_id" value="{{ list.10.pk }}">
                                    <input type="hidden" name="add_item_quantity" value="1">
                                    <input type="image" src="{{ STATIC_URL }}images/to_buy.jpg">
                                </form>
                          </div>
                        </div>
                      </div>

                      <div class="contain">
                        <div class="photo">

                              {% if list.10.logo %}
                                <a href="{% url product_detail list.10.slug %}">
                                  {% thumbnail list.10.logo.src "140x140" crop="center" as im %}
                                  <img src="{{ im.url }}" alt="{{ list.10.logo.alt }}" style="display: inline;">
                                  {% endthumbnail %}
                                </a>
                              {% endif %}

                        </div>

                        <div class="pricesContainer withOldPriceContainer">
                          <div class="price">
                            <img src="{{ STATIC_URL }}new/img/korzina_.png" border="0" width="14" height="10" class="basket">
                            {{ list.10.unit_price }} р.
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
            {% endwith %}
        </div>
{% endblock %}
