*{
	font-family:Tahoma;
	/*text-transform:uppercase;*/
}
h1,h2,h3,h4,h5,h6{
}
h4{
	text-transform:uppercase;
}

.itemtable{
	padding:0;
	margin:0;
	width:100%;
	}
.item{
	padding:0;
	color:#666666;
	text-transform:uppercase;
}

.item.name{
	width:50%;
	text-align:left;
}
.item.name .itempic {
	width: 100px;
}

.item.name .itempic img{
	border:8px solid #f6f6f6;
}
.item.name .itemname{
	font-size:16px;
	text-decoration:none;
	text-transform:uppercase;
	color:#414141;
	}
.item.name .itempart{
	font-weight:bold;
	color:#4b4b4b;
	font-size: 12px;
	}
.item.name .itemsize{
	font-size: 14px;
}
.item.name .itemplus{
	font-size:8px;
	font-weight:normal;
	}
.item.name .itemplus a{
	font-weight:normal;
	text-decoration:none;
	color:#989898;
	}
.item.name .itemplus a img{
	padding-right:5px;
	}
.number,.price,.discount,.amount,.remove{
	text-align:center;
	font-size:14px;
	font-weight:bold;
	vertical-align:text-top;
	}
.item.number{
	padding:5px;
	font-size:10px;
	font-weight:normal;
	}
.item.number>input{
	border:1px solid #999;
	padding:5px;
	text-align:right;
}

.item.price{}
.item.discount{}
.item.amount{
	color:#e60f0c;
	}
.item.remove{
	width:29px;
	padding:12px 5px;
	}
.hitem{
	padding:10px 0;
	color:#666666;
	text-transform:uppercase;
	font-weight:normal;
	font-size:10px;
}

#discountPopUpBlock {
	background-color: #ffffff;
}
/*conversion START*/
table.conversion{
	padding:0;
	margin:0;
	width:100%;
	clear:both;
	text-align:right;
}
table.conversion *{
	display:inline-block;
}
table.conversion button{
	border:none;
	color:#FFF;
	padding-top:8px;
	padding-bottom:8px;
	background-color:#92929c;
	font-size:9px;
	text-transform:uppercase;
	width: 105px;
	display: block;
}
table.conversion button:active{
	color:#FFF;
	background-color:#63636a;
}
table.conversion div.discontinfo{
	/*text-align:left;
	padding:5px 10px;
	font-size:14px;*/
}
table.conversion div.discontinfo input{ 
	border: 1px solid;
}

/*conversion END*/
/*forminfo START*/
table.forminfo{
	border-top-width: 10px;
	border-bottom-width: 10px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #f6f6f6;
	border-bottom-color: #f6f6f6;
	margin-top: 20px;
	}
table.forminfo td{
}
table.forminfo td.delivery{
	text-transform:uppercase;
	font-size:14px;
	}
table.forminfo td.delivery a{
	text-transform:capitalize;
	color:#b3b2b7;
	padding-left:10px;
	padding-right:10px;
	}
table.forminfo td.delivery a:hover{
	background-color: #f6f6f6;
	color:#505050;
	font-weight: bold;
	text-decoration: underline;
}
table.forminfo td.deliveryinfo{}
table.forminfo td.form{}
table.forminfo td.info{}
td.lable{
	text-transform:uppercase;
	font-size:14px;
	padding:10px;
	width:150px;
	color:#aeadb5;
	}
td.input{
	width:350px;
}
td.input.city{
	font-size:14px;
	color:#585858;
	font-weight:bold;
	text-transform: uppercase;
}
td.input.address {
	font-size:14px;
	color:#585858;
	text-transform: uppercase;
	text-decoration:underline;
	line-height: 30px;
	vertical-align:top;
}
td.input>input{
	border:1px solid #CCC;
	font-size:12px;
	color:#666666;
	padding: 5px;
	text-align: left;
	width: 248px;
}
/*forminfo END*/
td.input>select {
	border:1px solid #CCC;
	font-size:12px;
	color:#666666;
	padding: 5px;
	text-align: left;
	width: 260px;
}
td.input>textarea {
	border:1px solid #CCC;
	font-size:12px;
	color:#666666;
	padding: 0px;
	text-align: left;
	width: 258px;
}
td.submit{
	font-size:14px;
	color:#aeadb5;
	vertical-align:middle;
	text-transform:uppercase;
	}
td.submit>input{
	border:none;
	color:#FFF;
	background-color:#F00;
	padding-top:8px;
	padding-bottom:8px;
	display:block;
	font-size:9px;
	text-transform:uppercase;
	width: 105px;
}
td.text{
	font-size:11px;
	color:#9896a1;
	text-align:left;
	}
	
/*----------------POPUP Block --------------------*/
#discountPopUpBlock{
	text-align:center;
}
	
#discountPopUpBlock .closePopUpButton a{
	text-decoration:none;
	color:#7d7d7d;
	}
#discountPopUpBlock .closePopUpButton a:hover{
	color:#CCCCCC;
}