/*<TAGS>*************************************/
html{}

body {margin:0;padding: 0;width: 100%;height: 100%;font-family: "Tahoma";font-size: 11px;color: #414141;
	
}
@font-face { 
	font-family: DINCyr-MediumAlternate;
	src: url(/upload/DinCyMdA.ttf);
}

a {color: #448bc1; outline: none;}
a:hover {color: #000000; text-decoration: none;}

h1 {margin: 0;color: #ed1b2c;font-size: 16px;}
h2 {font-size: 15px;color: #ed1b2c;}
h3 {font-size:14px;color: #686868;}

table {border-collapse:collapse;padding:0px;}
table td {vertical-align: top;}

img {border: 0px;}
hr {background-color: #F6F6F6;border: 0px;border-top: 1px solid #646464;width: 300px;}

/*</ TAGS>*************************************/

/*<GLOBAL>*************************************/
.clear, .clr {clear: both;padding: 0px;margin: 0px;height: 0px;overflow: hidden;font-size:0px;}
.floatLeft {float: left;}
.floatRight {float: right;}

.blueText {color: #084787;}
.grayText {color: #767583;}
.redText {color: #ed1b2c!important;}
.greenText {color: green;}

.blueLink {
	color: #448bc1;
}
.blueLink:hover {
	text-decoration: none;
}
.cursorPointer {
	cursor: pointer;
}

.redBg {
	background-color: #ed1b2c;
}
.grayBg {
	background-color: #f6f6f6;
}

.redBorder {
	border-color: #ed1b2c;
}
.grayBorder {
	border-color: #d0d0d0;
}

.border1px {
	border: 1px solid;
}

.gBColor {
	color: #767583;
}
.grayBg {
	background-color: #f0f0f0;
}
.grayBorder {
	border-color: #f0f0f0;
}


.padding15 {
	padding: 15px;
}

.verticalSpacer10 {
	width: 100%;
	padding-top: 10px;
}

.linkStyle {color: #414141; outline: none; text-decoration: underline; cursor: pointer}
.linkStyle:hover {color: #000000;}

.displayNone {
	display: none;
}
.displayInline {
	display: inline;
}
.displayBlock {
	display: block;
}

.boxCountStr {
	position: absolute;
	font-weight: bold;
}

/*#page-all{width:100%; background-image:url('/img/header_bg_e70f0b.jpg');  background-image:url('/img/header_bg_ed1b2c.jpg'); background-repeat:repeat-x;} */
#page-all{width:100%; background-repeat:repeat-x;}
#container {width: 907px;margin: 0 auto;margin-bottom: 40px;}
#content {padding-top: 7px;width:auto;min-height: 488px!important;height: auto;}
#shadow {
	width: 100%;
	z-index:100;
	height: 100%;
	background-color: #000;
	position:fixed;
	display: none;
	top: 0;
	left: 0;
}
* html #shadow {
	position:absolute;
}

.yandex_content {display: none;}

/*</ GLOBAL>***********************************/

/*<HRADER>*************************************/
#header {height: 75px; width: 907px;margin: 0 auto;}
	#headButton {
		width: 186px;
		height: 22px;
		background: url('/img/head_button.png');
		position: absolute;
		background-color: #ffffff;
		margin-left: 655px;
	}
		#headButtonText {
			margin-top: 4px;
			width: 175px;
			color: #e70f0b;
			text-align: center;
			text-decoration: none;
		}
#header .header-content {height: 101px;}
#header .logo-div {float: left; margin-left: 20px; height: 105px; vertical-align: center;}
#header .logo-div  img{ height: 80px; margin-top: 12px;}
#header .call-center { float: right;padding-right:40px;margin-top: 37px;}
#header .headerEmail {color: #ffffff; font-size: 15px; font-weight: bold; text-decoration: none;}
#header .contacts-div {width: 235px; float: left; padding-top: 37px; color: #ffffff;}
#header .phone-div {height: 48px;}
#header .phone-div img {display: block;margin-top: 3px; }
/*</ HRADER>***********************************/




		
/*<TOP_MENU>*************************************/

#topMenuContainer {
	width: 907px;
	text-align: justify !important;
	overflow: hidden;
	height: 14px;
	cursor: default;
	margin-top: 1px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e0e0e0;
}
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
	#topMenuContainer{border: 1px solid;}
}*/
		#topMenuContainer a.menuItem {
			display: inline-block !important;
			display: inline;
			color: #767583;
			text-decoration: none;
			font-size: 12px;
		}
		#topMenuContainer a.menuItem:hover  {
			color: #000000
		}
		
		#topMenuContainer .subMenu {
			position: absolute;
			border: 1px solid #e0e0e0;
			z-index: 200;
			background: #FFFFFF;
			padding: 10px;
			width: 140px;
			text-align: left;
			display: none;
			margin-top: 13px;
		}
			#topMenuContainer .subMenu li {
				list-style: none;
				margin: 10px 0;
				display: block;
			}
			#topMenuContainer .subMenu li a {
				color: #767583;
				text-decoration: none;
			}
			#topMenuContainer .subMenu li a:hover {
				color: #000000
			}
			#topMenuContainer .subMenu li.empty {
				height: 3px;
				display: block;
				margin: 0;
			}
		
		*:first-child+html #topMenuContainer a.menuItem {
			margin-right: 98px;
		}
		*:first-child+html #subContainerTopMenu  {
			width: 1100px;
		}
		
		*:first-child+html #topMenuContainer .subMenu {
			margin-left: 0;
			margin-top: 13px;
		}
		*:first-child+html #topMenuContainer .subMenu li {
			height: 0;
		}
		
		*:first-child+html #topMenuContainer .subMenu li.empty {
			margin-top: -10px;
		}
		
		

		* html #topMenuContainer .subMenu {
			margin-left: 0;
			margin-top: 13px;
		}
		* html #topMenuContainer .subMenu li {
			height: 0;
		}
		
		* html #topMenuContainer .subMenu li.empty {
			margin-top: -10px;
		}
		
		
		
#container-menu{width: 1100px; padding: 0px 0 10px 0; margin-top: 12px;}

#topMenu {
	display: block;
	height: 13px;
	text-align: justify;  
	overflow: hidden; 
	width: 907px;
	padding: 0;
	display: none;
}


#topMenu li.topMenuItem{
	display: inline;
}
#topMenu li.topMenuItem a {
	display: inline-block;
	text-decoration: none;
}
	#topMenu div.pupupTopMenu {
		position: absolute;
		width: 150px;
		background: transparent;
		border: 1px solid;
		padding-top: 15px;
		z-index: 20000px;
	}
	#topMenu div.pupupTopMenu ul  {
		border: 1px solid #a6a6a6;
		padding: 0;
		display: none;
		list-style: none;
		padding: 10px;
		padding-right: 20px;
		background: #ffffff;
		width: 130px;
	}
	#topMenu div.pupupTopMenu ul li {
		margin-top: 10px;
	}
	#topMenu div.pupupTopMenu ul li a {
		text-align: left;
		text-decoration: none;
	}
		#topMenu  div.pupupTopMenu ul .topMenuSpacer {
			height: 1px;
		}


#container-menu #top-menu {width: 100%; float: left; margin-left: -46px;}

#container-menu .top_menu .mi_container {display: inline; margin-left: 46px; margin-right: 75px;}
@media all and (min-width:0) {
	#container-menu .top_menu .mi_container {margin-right: 73px \0/;}
}
@media only screen and (max-device-width: 1024px)
and (orientation:landscape) { 
    #container-menu .top_menu .mi_container {margin-left: 46px; margin-right: 70px;}
}



#container-menu .top_menu .mi_container a.menu_item{height:15px; font-size: 11px; cursor: default;text-decoration:none;position: relative;z-index: 2000;}
#container-menu .top_menu .mi_container a.menu_item:hover{color: black;}
#container-menu .top_menu .mi_container a.selected{color: #ed1b2c;}

#container-menu .top_menu .mi_container .popupContainer {display: none;margin-top: -20px;width: 140px;padding-top: 20px;position: absolute;z-index: 1000;}
#container-menu .top_menu .mi_container .popup_menu {background-color: #ffffff;padding: 10px;width: 140px;border: 1px solid #e3e3e3;z-index: 1000;}
#container-menu .top_menu .mi_container .popup_menu  a{padding-top: 5px;padding-bottom: 5px;display: block;color: #747474;height:auto;text-decoration:none;}
#container-menu .top_menu .mi_container .popup_menu  a.empty {height: 2px;}
#container-menu .top_menu .mi_container .popup_menu  a:hover {color: black;}
#container-menu  .lj{margin-top: -3px;float: left;}

/*</ TOP_MENU>***********************************/


/*<BANNERS>*************************************/


#inside_content img {width: 907px; height: 412px;}

	/** <bottom> **************************/
	#bannerBottom {
		width: 907px;
		height: 160px;
		background-color: #f0f0f0;
	}
	#bannerBottom  .bottom_banners td {
		padding: 9px 0 9px 9px;

		float: left;
		height: 143px;
	}
	
	#bannerBottom  .banner-bottom  img{
		width: 290px;
		height: 143px;
	}
	/*
	#banner-bottom {border: 1px solid #dcdcdc;background-color: #dcdcdc;margin-top:8px;}

	#banner-bottom  .bottom_banners td {
		border:7px solid #ececec;
		width:300px;
	}
	.banner-bottom {width:300px;height: 116px;width: 225px;float:left;}

	.banner-bottom img {height: 116px;width: 293px;}
	/** </bottom> **************************/
	
/*</ BANNERS>*************************************/

/*<FOOTER>***************************************/

/*#footer {height: 74px;color: #747474;background-color: #ececec;background-image: url(/img/stamp.jpg);background-repeat: no-repeat;background-position: 100% 100%;padding-left:14px;}
#footer a {color: #747474;}
#footer a:hover{text-decoration: none;color: black;}
#footer .stamp {padding-top: 11px;float:left;}
#footer .stamp .cert{padding-top: 4px;}

#footer .socNetButtons {height: 100%;width: 237px;float: left;padding-top: 35px;}
#footer .socNetButtons  div{float: left;padding-right: 3px;}
#footer .socNetButtons  div.lg {padding-right: 12px;margin-top: -1px;}
#footer .socNetButtons  div.hidden {display: none;}

#footer .bottom-menu {width: 360px;float: left;margin-top: 41px;}
#footer .bottom-menu div{float: left;margin-right: 20px;margin-left: 10px;text-align: center;}
#footer .bottom-menu a {}



#footer {
	background-color: #ececec;
	height: 75px;
}
	#footer .brand {
		padding: 30px;
		float: left;
	}
	#footer .bottomMenu {
		float: right;
		margin: 33px 10px 20px 20px;
	}
	#footer .bottomMenu div.menuItem{
		float: left;
		margin-left: 20px;
		display: list-item;
	}
	#footer .bottomMenu  .whithOrder{
		margin-top: -2px;
	}
	#footer .sunlightLj {
		float: right;
		margin: 22px 0px 20px 20px;
	}
	#footer .sunlightLj img {
		float: left;
	}
	#footer .sunlightLj .ljLink {
		float: left;
		margin-top: 11px;
		margin-left: 5px;
	}
	#footer .socNetButtons {
		float: right;
		margin: 25px;
	}
	#footer .socNetButtons  div{
		float: left;
		margin-left: 5px;
	}
	#order_count{font-size: 13px;font-weight: bold;color: red;}
	
	
*/

/*#footer ul {

	padding: 0;
	padding-left: 1px;
	margin: 0;
}
#footer ul  li{
	float: left;
	margin-right: 50px;
	list-style: none;
	display: block;
}
@media all and (min-width:0) {
	#footer ul  li{margin-right: 48px \0/;}
}
@media only screen and (max-device-width: 1024px)
and (orientation:landscape) { 
    #footer ul  li{margin-right: 42px}
}

#footer ul  li  a{
	text-decoration: none;
	font-size: 11px;
}*/
#footer {
	width: 907px;
	height: 30px;
	padding-top: 8px;

}
#footerMenuContainer {
	width: 100%;
	text-align: justify !important;
	overflow: hidden;
	height: 14px;
	cursor: default;
}
	#footerMenuContainer a {
		display: inline-block!important;
		color: #767583;
		text-decoration: none;
		font-size: 12px;
	}
	#footerMenuContainer a:hover {
		color: #000000;
	}
	#savedListCount {
		position: absolute;
	}

#emotionsBannerText { 
	position: absolute;
	margin-top: 25px;
	margin-left: 15px;
	font-size: 16px;
	color: #767482;
	width: 300px;
}




#footer2 {
	background-color: #ececec;
	height: 75px;
}
	#footer2 .brand {
		padding: 30px;
		float: left;
	}
	#footer2 .bottomMenu {
		float: right;
		margin: 33px 10px 20px 20px;
	}
	#footer2 .bottomMenu div.menuItem{
		float: left;
		margin-left: 20px;
		display: list-item;
	}
	#footer2 .bottomMenu  .whithOrder{
		margin-top: -2px;
	}
	#footer2 .sunlightLj {
		float: right;
		margin: 22px 0px 20px 20px;
	}
	#footer2 .sunlightLj img {
		float: left;
	}
	#footer2 .sunlightLj .ljLink {
		float: left;
		margin-top: 11px;
		margin-left: 5px;
	}
	#footer2 .socNetButtons {
		float: right;
		margin: 25px;
	}
	#footer2 .socNetButtons  div{
		float: left;
		margin-left: 5px;
	}
	#order_count{font-size: 13px;font-weight: bold;color: red;}

/*</ FOOTER>***************************************/


/*<PERSONAL>**************************************
.textbox {border-width: 1px;border-style: solid;border-bottom-color: #dddddd;border-left-color: #dddddd;border-right-color: #c3c3c3;border-top-color: #c3c3c3;padding: 5px 0px 0px 3px;height:18px;vertical-align:middle;}
.avatar{border: 2px solid #DADADA}
.username{font-weight:900;}
.personal{color:#656464;padding-top: 15px;height:460px;}
.sohranit{background: url('/img/buttons/sohranit.png') repeat-x;width:179px;height:29px;margin:3px;text-decoration:none;border:none;}
.sohranit:hover{background-position:-200px;}
.sohranit:active{background-position:-400px;}
<PERSONAL>***************************************/



/*<AUTH_FORM>************************************/
#form{
	display: none;
	position: fixed;
	top: 13%;
	left: 42%;
	z-index:10000;
}
.registraciya{background: url('/img/buttons/registraciya.png') repeat-x;width:180px;height:29px;display:block;margin:3px;text-decoration:none;border:none;}
.registraciya:hover{background-position:-200px;}.registraciya:active{background-position:-400px;}
.vojti{background: url('/img/buttons/vojti.png') repeat-x;width:108px;height:29px;display:block;margin:3px;text-decoration:none;border:none;}
.vojti:hover{background-position:-200px;}.vojti:active{background-position:-400px;}

/*.najti{background: url('/img/buttons/najti.png') repeat-x;width:108px;height:29px;display:block;margin:3px;text-decoration:none;border:none;}
.najti:hover{background-position:-200px;}
.najti:active{background-position:-400px;}
.obzor{background: url('/img/buttons/obzor.png') repeat-x;width:108px;height:29px;display:block;margin:3px;text-decoration:none;border:none;}
.obzor:hover{background-position:-200px;}
.obzor:active{background-position:-400px;}


</ AUTH_FORM>************************************/
/*<REG_FORM>*************************************/
.empty{color:#9e9e9e;}
.otpravit{background: url('/img/buttons/otpravit.png') repeat-x;width:108px;height:29px;display:block;margin:3px;text-decoration:none;border:none;}
.otpravit:hover{background-position:-200px;}
.otpravit:active{background-position:-400px;}
/*</ REG_FORM>***********************************/

.adminGrid {position: fixed;top: 0;left: 0; z-index: 15000; width: 1985px; height: 1000px; padding:0;margin:0;border-collapse:collapse;}
.adminGrid  td{width: 20px;height:20px; border: 1px solid green;}
#ramblerContainer {display: none;}

#maket {
	position: absolute;
	width: 100%;
	
	top: 0;

}

#maket .imgCnt {
	width: 1113px;
	margin-left: -107px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
	-moz-opacity: 0.2; 
	-khtml-opacity: 0.2; 
	opacity: 0.2;
	border: 1px solid;
}

#copyBlock {
	float: left;
}
	#copy {
		margin-top: -10px;
		font-size: 10px;
	}
	*:first-child+html #copy {
		margin-top: 0;
	}
#socIconsAndAddUserEmailContainer {
	float: right;
	margin-top: -7px;
}
	#mainSocIconsContainer {
		float: left;
	}
		#mainSocIconsContainer .socIcon{
			float: left;
		}
		#fbLikeCount {
			border: 1px solid #777785;
			padding: 0 3px;
			height: 16px;
			margin-top: 3px;
			margin-left: -4px;
			
		}
	#addUserEmailComponentContainer {
		float: left;
		padding-left: 15px;
		padding-top: 3px;

	}


/* <Temp Style> */

#glamourShtampBig {
	position: absolute;
	width: 100px;
}

#glamourShtampSmall {
	position: absolute;
	width: 50px;
}


#facebookBlock {
	position: fixed;
	top: 100%;
	left: 0;
	margin-top: -30px;
	height: 30px;
	width: 100%;
	background-color: #ea0001;
	z-index: 20000;
}
	#facebookBlockContainer {
		width: 920px;
		margin: auto;
		text-align: center;
	}
		#facebookBlockContainer  a.text{
			font-size:12px;
			margin:0;
			bottom:10px;
			position: relative;
			color:#FFFFFF;
			text-decoration:none;
			line-height:12px;
			padding:0px;
		}
		#facebookBlockContainer   a.closebtn{
			position:relative;
			left:150px;
			}
/* </Temp Style> */


.standardSLCaptcha {
	height: 75px;
}
	.standardSLCaptcha input {
		position: absolute;
		margin-left: -180px;
		margin-top: 45px;
		width: 150px;
		height: 20px;
		border: 1px solid #dddddd
	}